.portfolio {
    padding: 0 0 100px;
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__list {
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
}

.portfolio__link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.portfolio__text {
    margin: 19px 0;
}

.portfolio__text-arrow {
    transition: 0.4s ease-in-out;
}

.portfolio__link:hover .portfolio__text-arrow {
    transform: rotate(45deg);
}

.portfolio__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1000px) {
    .portfolio {
        max-width: 668px;
        padding-bottom: 90px;
    }
    .portfolio__link {
        font-size: 28px;
    }
}

@media screen and (max-width: 700px) {
    .portfolio {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 420px) {
    .portfolio {
        padding-right: 14px;
        padding-left: 14px;
        padding-bottom: 50px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }
}